@import 'src/styles/_media_queries.scss';

.main {
    max-width: 650px;
    margin: 100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.presentation {
    height: 400px;
    width: 400px;
    position: relative;

    .flower {
        position: absolute;
        bottom: 50%;
        left: 30%;
        transform: translate(-50%, 50%);
    }

    .olaPicture {
        position: absolute;
        bottom: 35%;
        left: 57%;
        transform: translate(-50%, 50%) rotate(-3deg);
    }

    .signature {
        position: absolute;
        bottom: 0;
        right: 30px;
        transform: rotate(-5deg);
    }
}

.shakePlant {
    animation: shakePlant 1s ease-in-out;
}

@keyframes shakePlant {
    0% {
        transform: translate(-50%, 50%) rotate(0deg);
    }

    25% {
        transform: translate(-50%, 50%) rotate(3deg);
    }

    50% {
        transform: translate(-50%, 50%) rotate(-5deg);
    }

    75% {
        transform: translate(-50%, 50%) rotate(3deg);
    }

    100% {
        transform: translate(-50%, 50%) rotate(0deg);
    }
}

.shakeOla {
    animation: shakeOla 1s ease-in-out;
}

@keyframes shakeOla {
    0% {
        transform: translate(-50%, 50%) rotate(-3deg);
    }

    20% {
        transform: translate(-50%, 50%) rotate(-5deg);
    }

    50% {
        transform: translate(-50%, 50%) rotate(4deg);
    }

    75% {
        transform: translate(-50%, 50%) rotate(-4deg);
    }

    100% {
        transform: translate(-50%, 50%) rotate(-3deg);
    }
}


.invitationText {
    @include respond-width($s) {
        padding: 0 50px;
    }
}