@import 'src/styles/_media_queries.scss';

.main {
    height: 500px;
    margin: 100px auto 100px;
    background-image: url('/pictures/testimonial-flower.png'), url('/pictures/signature.png');
    background-position: center center, 100% 90%;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    text-align: center;

    &>* {
        max-width: 550px;
    }

    &>*:first-child {
        text-transform: uppercase;
    }


    @include respond-width($s) {
        padding: 0 10%;
        width: 100%;
        background-position: center, 110% 100%;
    }

}