@import "styles/theme/theme";

.main {}

.title {
    margin-bottom: 40px;
}

.item {
    border-bottom: 1px solid $black;
    margin-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;

    &:hover {
        color: $brown;
        border-bottom: 1px solid $brown;
    }
}