.main {
    border: 1px solid red;
    margin-left: 165px;
    height: 100%;
    position: relative;
}

.textSection {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 490px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.readMore {
    align-self: flex-end;
}