.main {
    margin-left: 165px;
    height: 100%;
    position: relative;
}

.textSection {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 490px;
    display: flex;
    flex-direction: column;

    &>p:first-child {
        margin-bottom: 40px;
    }
}

.readMore {
    align-self: flex-end;
}

.primaryImg {
    width: 430px;
    transform-origin: top right;
    transform: rotate(-5deg);
    position: absolute;
    top: 20px;
    left: 20px;
}

.secondaryImg {
    position: absolute;
    width: 360px;
    height: 360px;
    z-index: 1;
    bottom: 20px;
    left: 45%;
    transform: translateX(-50%);
}

.paperOrnament {
    position: absolute;
    width: 300px;
    aspect-ratio: 1/1;
    left: 55%;
    bottom: 130px;
    transform: translateX(-50%);
}