@import 'src/styles/_media_queries.scss';

.frame {
    padding: 100px 0;
    height: max(100vh, 1124px);
    height: max(100svh, 1124px);
    position: relative;
    // border: 1px solid orange;

    @include respond-width($m) {
        padding: 30px 0 0;
        margin-bottom: 50px;

        margin-right: 50px;
        height: 100vh;
        height: 100svh;
    }

    @include respond-width($s) {
        height: 600px;
    }

    @include respond-width($xs) {
        margin-right: 20px;
        height: 700px;
    }
}

.menuPos {
    position: absolute;
    bottom: 100px;
    right: 0;

    @include respond-width($m) {
        right: auto;
        bottom: -50px;
        left: 10px;
    }

    @include respond-width($s) {
        right: auto;
        bottom: auto;
        left: 20px;
        top: 50%;
    }
}

.verticalPos {
    position: absolute;
    top: 50%;

    @include respond-width($m) {
        padding-top: 5px;
    }

    @include respond-width($s) {
        padding-top: 15px;
        top: 25%;
    }
}