.main {
    max-width: 650px;
    border: 1px solid blue;
    margin: 100px auto;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.policy {
    text-decoration: underline;
}