@import "styles/theme/theme";

.main {
    border-top: 1px solid $black;
    height: 600px;
    padding: 50px 50px 70px;
}

.upperPart {
    display: flex;
}

.newsletter {
    flex: 0 0 60%;

    .container {
        max-width: 580px;
        padding-right: 30px;
    }
}

.footerCol {
    flex: 1;
    text-transform: uppercase;

    & ul {
        list-style-type: none;

        & li {
            margin: 15px 0;

            & a:hover {
                color: $brown;
            }
        }
    }
}

.bottomPart {
    border: 1px solid red;
    padding: 70px 0;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .rights {
        margin-right: 30px;
    }
}


.iconBg {
    fill: $black;

    &:hover {
        fill: $brown;
    }
}


.media {
    display: flex;
    gap: 10px;
}

// .explore {
//     flex: 1;
//     text-transform: uppercase;
//     list-style-type: none;
// }

// .support {
//     flex: 1;
//     text-transform: uppercase;

// }