@import "styles/theme/theme";

.main {
    border-top: 1px solid $black;
    height: 600px;
    padding: 50px 50px 70px;
}

.upperPart {
    display: flex;
}

.newsletter {
    flex: 0 0 60%;

    .container {
        max-width: 580px;
        padding-right: 30px;
    }
}

.footerCol {
    flex: 1;
    text-transform: uppercase;

    & ul {
        list-style-type: none;

        & li {
            margin: 15px 0;

            & a:hover {
                color: $brown;
            }
        }
    }
}


.newsletterInput {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;

    label {
        margin-top: 50px;
        margin-bottom: 32px;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 20px;
    }

    input {
        border: none;
        border-bottom: 1px solid $black;
        background-color: transparent;
        flex: 1;

        &:focus {
            border-color: $brown;
            border-width: 2px;
        }
    }

    .helper {
        margin-top: 16px;
    }
}

.bottomPart {
    padding: 70px 0 0;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .rights {
        position: relative;
        bottom: -2px;
    }

    .rights>span:first-child {
        margin-right: 30px;
    }

    .iconBg {
        fill: $black;

        &:hover {
            fill: $brown;
        }
    }

    .media {
        display: flex;
        gap: 10px;
    }

}