@import "styles/theme/theme";

.main {
    width: 330px;
    padding: 0 10px 40px;
    text-align: center;

    @include respond-width($m) {
        width: 250px;
    }
}

.title {
    margin-bottom: 20px;
}

.ornament {
    height: 150px;
    background-image: url('/ornaments/info-plant.png');
    background-position: center center;
    background-repeat: no-repeat;
}