@import "styles/theme/theme";

.anchor {
    display: inline-block;
    position: relative;

    &:hover {
        color: $brown;
    }
}


.btn {
    display: inline-block;
    padding: 25px 23px;
    text-transform: uppercase;
    transform: rotate(-3deg);
}


.circleAround {
    position: absolute;
    stroke: currentColor;
}