@import "styles/theme/theme";

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 45px;
  color: $white;

  & svg {
    cursor: pointer;
  }

  .openedMenu {
    color: $white;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: #140F0D;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    span {
      text-transform: uppercase;
    }

    .social {
      padding-top: 70px;
      display: flex;
      gap: 26px;
    }
  }

  .closeIcon {
    position: absolute;
    top: 10vh;
    right: 10vh;
  }
}